@tailwind base;
@tailwind components;
@tailwind utilities;
 
.mainColor {
  background: linear-gradient(94.05deg, #FAE202 0%, #FD3F00 47.5%, #AF0740 100%);
}

.borderColor {
  border: 1px solid #AF0740
}

.fontMain {
  border: 1px solid #AF0740
}